resolution-mode=highest
auto-install-peers=true
shamefully-hoist=true
supportedArchitectures.os=["darwin", "linux", "win32"]
supportedArchitectures.cpu=["x64", "arm64"]
supportedArchitectures.libc=["glibc", "musl"]