"""
Debug template to test rendering
"""

# Debug output
# model_data type: {{ model_data.__class__.__name__ }}
# model_data keys: {{ model_data.keys() | list }}

{% if model_data.type_aliases %}
# Type aliases type: {{ model_data.type_aliases.__class__.__name__ }}
# Type aliases content: {{ model_data.type_aliases }}
{% endif %}

{% if model_data.models %}
# Models count: {{ model_data.models | length }}
{% for model in model_data.models %}
# Model {{ loop.index }}: {{ model.name }}
#   Type: {{ model.type }}
#   Fields type: {{ model.fields.__class__.__name__ if model.fields else 'None' }}
{% endfor %}
{% endif %}